#basket {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#basket .MuiButton-containedSecondary {
  color: #0d1117;
}

.actions {
  margin-top: 20px;
}

.actions a {
  color: #000000;
  margin-left: 15px;
  background-color: #03dac5;
}

.actions a:hover {
  background-color: #22c5b5;
}
/* ========= Basket Banner =========== */
.basket-banner {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.basket-banner > div > div {
  align-items: center;
}

.basket-banner {
  display: flex;
  align-items: center;
}

.basket-banner .brand svg {
  width: 100%;
  font-size: 220px;
  color: #3cabc5;
}

.basket-banner .title {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.basket-banner a.shopping-button {
  color: #ffffff;
  background-color: #3cabc5;
  text-align: center;
}
.basket-message, .brand{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}